<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="PMReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
    <userSettings>
        <PMReader.Properties.Settings>
            <setting name="PM_Path_Local" serializeAs="String">
                <value>pm</value>
            </setting>
            <setting name="PM_Path_Server100" serializeAs="String">
                <value>usr/Systems/1353NM_1_7.0_Master/export/pm/emlDom_100</value>
            </setting>
            <setting name="ftp_Pass" serializeAs="String">
                <value>install1</value>
            </setting>
            <setting name="ftp_User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="ftp_Address" serializeAs="String">
                <value>172.23.31.38</value>
            </setting>
            <setting name="ftp_Port" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="PM_Path_Server101" serializeAs="String">
                <value>usr/Systems/1353NM_1_7.0_Master/export/pm/emlDom_101</value>
            </setting>
        </PMReader.Properties.Settings>
    </userSettings>
</configuration>
